{% load static %}

<style>
    .hello-msg{
      font-size: 18px;
      color: #fff;
      margin-right: 20px;
    }
  </style>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <img src="{% static 'images/teka_logo.png' %}" width="100" height="50">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
        </li>
      </ul>
    </div>
  
    {% if user.is_authenticated %}
    <span class="hello-msg">Hello, {{request.user}}</span>
    <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
    <!-- <p><a href="{% url 'password_reset' %}">Reset Password</a></p> -->
  {% else %}
    <a class="hello-msg" href="{% url 'login' %}">Log In</a>
    <a class="hello-msg" href="{% url 'signup' %}">Sign Up</a>>
  {% endif %}
  </nav>